MARKETING_VERSION = 1.5.1
CURRENT_PROJECT_VERSION = 1

IPHONEOS_DEPLOYMENT_TARGET = 16.0
MACOSX_DEPLOYMENT_TARGET = 13.0
SWIFT_VERSION = 5.0

DEVELOPMENT_TEAM = 9ZYQ3XT8L9
CODE_SIGN_STYLE = Automatic

PRODUCT_BUNDLE_IDENTIFIER = com.meshed.app

// App Group identifier for sharing data between main app and extensions
APP_GROUP_IDENTIFIER = group.$(PRODUCT_BUNDLE_IDENTIFIER)
